.destination-page {
  background: url("../../public/assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  width: 100%;
}

.dest-nav_list {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
}

.dest-nav_list-name {
  padding: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1rem;
}

.dest-items_block {
  width: 100%;
  height: 100%;
  /* display: grid;
  grid-template-rows: [bottom-nav] 25% [bottom-name] 1fr; */
}

.dest-items_msg {
  padding: 20px;
  margin: 0;
}

.msgCapture_msg-board {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Times New Roman", Times, serif;
  font-size: .9rem;
}

.msgCaptured_left-side {
}

.msgCapture_right-side {
}

.msgCapture_name {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.msgCapture_para {
  text-align: left;
  width: 50%;
}

.msgCapture_stats {
    display: flex;
    justify-content:start;
    align-items: center;
    border-top: 1px solid gray;
    padding-top: 30px;

}

.msgCapture_avg{
    padding-right: 20px;
}

.msgCapture_avg h4{
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

.msgCapture_travel {
    margin-left: 20px;

}

.msgCapture_travel h4 { 
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
}